  h1.special, li.special{
    color: blue;
font-weight: bold ;    
}
li em{
    color: white;
    background-color: black;
}
h1+p{
    color: yellowgreen;
}
a:hover{
color: red;
}
heding{
    color: black; 
}
li[class~="a"]{ 
color: blueviolet;
} 

/* universal selectors */
*{
    list-style: none;
    /* if using entire doc samen color */
    color: green;
}